*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 1rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.reloj{
    background-color: white; 
    width: 50%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 10px;
    box-sizing: border-box;
}

.indicadores{
    font-size: clamp(1rem, 4vw, 4rem);
}

.icono{
    width: 40px;
    cursor: pointer;
}

.autor{
    margin-top: 5px;
    color: #9BCF53;
    font-size: 0.9rem;
}

@media (max-width: 500px){
    .icono{
        width: 25px;
    }
}


